//公共变量
//字体定义
$font = "Arial","Microsoft Yahei","微软雅黑","PingFang SC";
$fontMobile = "Arial","Microsoft Yahei","微软雅黑","PingFang SC";

//像素定义规范
$zero = 0px;
$one = 1px;
$two = 2px;
$three = 3px;
$four = 4px;
$five = 5px;
$six = 6px;
$seven = 7px;
$eight = 8px;
$nine = 9px;
$ten = 10px;
$twelve = 12px;
$fourteen = 14px;
$fifteen = 15px;
$sixteen = 16px;
$eighteen = 18px;
$twenty = 20px;
$twenty-two = 22px;
$twenty-three = 23px;
$twenty-four = 24px;
$twenty-five = 25px;
$twenty-six = 26px;
$twenty-eight = 28px;
$thirty = 30px;
$thirty-two = 32px;
$forty = 40px;
$forty-four = 44px;
$fifty = 50px;
$sixty = 60px;
$eighty-five = 85px;
$width-input = 176px;
$width-size = 160px;
$bfb = 100%;

//其他定义规范
$none = none;
$block = block;
$left = left;
$right = right;
$center = center;
$link-undecoration = underline;
$border-style = solid;
$border-style-ds = dashed;
$auto = auto;
$inline-block = inline-block;
$pointer = pointer;
$not-allowed = not-allowed;